<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="" />
    <span><h4>{{position}}</h4></span>
  </div>
  <div class="card-desc">
    <h3>{{destino.n}}</h3>
    <p>Servicios</p>
    <ul>
      <li *ngfor="let s of destino.servicios">
        <span [ngSwitch]="s">
          <i *ngSwitchCase="'desayuno'" style="color: blue">{{s}}</i>
          <i *ngSwitchDefault>{{s}}</i>
        </span>
      </li>
    </ul>
    <div>
        <a href="#" (click)="voteUp()" style="margin-right: 10px;"><i class="material-icons md-18">thumb_up</i></a>
        <a href="#" (click)="voteDown()" style="margin-right: 10px;"><i class="material-icons md-18">thumb_down</i></a>
        {{destino.votes}}
        <a href="#" (click)="resetVotes()" style="margin-left: 10px;"><i class="material-icons md-18">restore</i></a>
    </div>
    <br>
    <a href="#" class="btn-card" (click)="ir()">Ir!!</a>
    <span *ngIf="destino.isSelected()">
      <span ngNonBindable>{{PREFERIDO}}</span>
    </span>
    <a [routerLink]="['/destino']">Destino</a>
  </div>
</div>
